.topic_icon{
	height: 25px;
	width: 110px;
	background-image:url("../common/css/images/red_topic.jpg");
	top:3px;
	left:10px;
	position: absolute;
	border-radius: 15px;
	color: #FFFFFF;
	font-size : 15px;
	font-weight: bold; 
	z-index: 2;
}

#logoDialog{
	bottom:10px;
	right:10px;
	position: absolute;	
	color:#D9D9D9;
}