<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
 
 	<!-- 工作任务分派  -->
	<bean name="jobAssignmentDao" class="com.wgsoft.performance.dao.JobAssignmentDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="jobAssignmentService" parent="service">
		<property name="target">
			<ref bean="jobAssignmentServiceTarget" />
		</property>
	</bean>
	<bean name="jobAssignmentServiceTarget" class="com.wgsoft.performance.service.JobAssignmentService">
		<property name="jobAssignmentDao">
			<ref bean="jobAssignmentDao" />	
		</property>
	</bean>
	
	
    <!-- 岗位职责申报 -->
	<bean name="positionStatementDao" class="com.wgsoft.performance.dao.PositionStatementDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="positionStatementService" parent="service">
		<property name="target">
			<ref bean="positionStatementServiceTarget" />
		</property>
	</bean>
	<bean name="positionStatementServiceTarget" class="com.wgsoft.performance.service.PositionStatementService">
		<property name="positionStatementDao">
			<ref bean="positionStatementDao" />	
		</property>
	</bean>
	
	
    <!-- 考核指标管理  -->
	<bean name="performanceIndexManageDao" class="com.wgsoft.performance.dao.PerformanceIndexManageDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="performanceIndexManageService" parent="service">
		<property name="target">
			<ref bean="performanceIndexManageServiceTarget" />
		</property>
	</bean>
	<bean name="performanceIndexManageServiceTarget" class="com.wgsoft.performance.service.PerformanceIndexManageService">
		<property name="performanceIndexManageDao">
			<ref bean="performanceIndexManageDao" />	
		</property>
	</bean>
	
	
	
    <!-- 考核评分  -->
	<bean name="performanceAssessDao" class="com.wgsoft.performance.dao.PerformanceAssessDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="performanceAssessService" parent="service">
		<property name="target">
			<ref bean="performanceAssessServiceTarget" />
		</property>
	</bean>
	<bean name="performanceAssessServiceTarget" class="com.wgsoft.performance.service.PerformanceAssessService">
		<property name="performanceAssessDao">
			<ref bean="performanceAssessDao" />	
		</property>
	</bean>
	
	   <!-- 考核评分  -->
	<bean name="queryAttendanceInfoDao" class="com.wgsoft.performance.dao.QueryAttendanceInfoDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="queryAttendanceInfoService" parent="service">
		<property name="target">
			<ref bean="queryAttendanceInfoServiceTarget" />
		</property>
	</bean>
	<bean name="queryAttendanceInfoServiceTarget" class="com.wgsoft.performance.service.QueryAttendanceInfoService">
		<property name="queryAttendanceInfoDao">
			<ref bean="queryAttendanceInfoDao" />	
		</property>
	</bean>
	
	
	
</beans>